apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev-dispatcherhq
patches:
  - path: deployment-patch.yaml
resources:
  - ../../base
  - ingress.yaml
images:
  - name: kodenobi/dispatcherhq-api
    newTag: 256a67f
