apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-website
  namespace: prod
  labels:
    app: portfolio-website
spec:
  replicas: 1 # default replica count
  selector:
    matchLabels:
      app: portfolio-website
  template:
    metadata:
      labels:
        app: portfolio-website
    spec:
      containers:
        - name: portfolio-website-container
          image: kodenobi/portfolio-website:c87886f
          ports:
            - containerPort: 3000
          # resources:
          #   limits:
          #     cpu: "500m"
          #     memory: "512Mi"
          #   requests:
          #     cpu: "250m"
          #     memory: "256Mi"
